{
  "parser": "babel-eslint",
  "parserOptions": {
  "sourceType": "module",
  "allowImportExportEverywhere": false,
  "codeFrame": false
},
"extends": ["airbnb", "prettier"],
"env": {
  "browser": true,
  "jest": true
},
"rules": {
  "max-len": ["error", {"code": 100}],
  "prefer-promise-reject-errors": ["off"],
  "react/jsx-filename-extension": ["off"],
  "react/prop-types": ["off"],
  "no-return-assign": ["off"],
  "no-underscore-dangle": ["error", { "allow": ["_id", "_assign"] }],
  "react/no-array-index-key": ["off"],
  "react/jsx-props-no-spreading": ["off"],
  "prefer-destructuring": ["off"],
  "no-restricted-syntax": ["off"],
  "jsx-a11y/no-static-element-interactions": ["off"],
  "no-unneeded-ternary": ["off"]
}
}
